@import 'variables';
* {
    font-family: 'MuseoModerno', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'promo.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'advantages.scss';
@import 'titles.scss';
@import 'consultation.scss';
@import 'forms.scss';
@import 'media.scss';
